* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 105vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

img {
    box-shadow: inset -20px -20px 50px rgba(0, 0, 0, 0.8),
        0 0 30px rgba(0, 124, 191, 0.4);
        width: 600px;
}